fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

chromadb
sentence-transformers

pypdf
docx2txt
python-multipart